$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bootstrap_overrides.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "image-vingette.scss";
@import "_scut.scss";


@import url(https://fonts.googleapis.com/css?family=Raleway);

@include scut-sticky-footer-fluid();

.body {
  background-size: cover !important;
}

.top-logo {
  margin-top: 20px;
  padding: 0 10px;
}

.conditions-content-box {
  top: 50%;
  left: 50%;
  z-index: 9999;
  border-radius: 1%;
  background-color: #333;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px
}

.conditions-list {
  padding-top: 10px;
  text-align: left;
}

ul {
    list-style-position: inside;
    padding-left:0;
}

.list-inline {
  padding-left: 20px;
}

.info-top{
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 100;
  background-color: #454545;
  color: #FFF;
  position: absolute;
  min-width: 100%;
  top: 0%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 20px;
  span {
    padding: 20px;
  }
}

.top-pad-20 {
  margin-top: 20px;
  padding-top: 20px;
}

.plain-link a,
.plain-link a:link,
.plain-link a:visited,
.plain-link a:hover,
.plain-link a:active {
    color: #FFF; /*color of your choosing*/
    text-decoration: none;
}


.main{
  top: 60px;
  position: relative;
  height: 100%;
  width: 100%;
}

.email, .phone {
  a, a:hover {
    text-decoration: none;
  }
}

#nav-logo {
  max-height: 76px;
  min-height: 76px;
  position: absolute;
  top: -12px;
  left: -1px;
  z-index: 9999;
  vertical-align: middle;
  @media screen and (min-width: 768px) {
    top: -16px;
  }
  @media screen and (max-width: 320px) {
    max-height: 68px;
    min-height: 68px;
    top: -7px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.breadcrumb {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  margin-top: 0;
  padding-top: 0;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.list-paragraph {
  @extend p;
}


.navbar-brand > img {
  object-fit: contain;
  max-height: 800%;
  height: 800%;
  margin-top: -65px;
  margin-left: -100px;
}

.slider {
  position: relative;
  padding-bottom: 0;
  margin: 0;
  top: -68px;
}

.about, .hands {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  background-color: #eee;
  font-size: 1.425em;
  font-weight: 200;
  border-radius: 0.5%;
}

#about-page {
  margin-bottom: 20px;
}

.about-sapce {
  @extend about;
}

.mug-container{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  max-width: 300px !important;
  margin-left: auto;
  margin-right: auto;
  img { text-align: center; }
}

.img-center {
  margin: 0 auto;
}

.img-pad {
  padding: 14px;
}


.bio {
  text-align: justify;
}

.bios-wrapper {
  padding-bottom: 40px;
}

.pic-icon {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.pic-icon-nopad {
  margin: 0;
  margin-top: 50%;
  margin-left: 0;
  padding: 0;
}

.pic-icon:hover {
  border: solid #337ab7 3px;
  transform: scale(1.2);
}

.pic-icon-hover {
  border: solid #337ab7 3px;
  transform: scale(1.2);
}

.condition-loader-hover {
  background-color: #eeeeee;
}

// #about-therapists::after { content: ''; display: block; clear: both;}
// boostrap clearfix does this

// fix top margin on pages with sub nav
#about-page, #hands-page, #conditions-page {
  margin-top: -64px;
}

.insurance-page-background {
  position: absolute;
  margin: 10px 20px;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background-image: url('../images/insurance.jpg');
  background-position: center center;
  background-size: cover;
  opacity: 0.160;
  // z-index: 9999;
}

ul.conditions-list {
  padding: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: $jumbotron-bg;
}

.page-section ol {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: none;
  min-width: 100%;
}

.scut-sticky, .scut-sticky footer {
  background: black;
  color: white;
}

.verticle-center {
  @include scut-vcenter-ib;
}


.footer-body {
  background-color: #333;
  color: #FFF;
  padding: 80px;
  // margin-top: -80px;
  .footer-children {
    background-color: inherit;
    color: inherit;
  }
}

.footer-icon-container {
  text-align: center;
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #FFF;
  border: solid #FFF 1px;
  border-radius: 50%;
}

span.footer-icons {
  position: absolute;
  text-align: center;
  margin: auto;
  margin-top: 6px;
  margin-left: -8px;
  font-size: 1.8em;
  color: #FFF;
}

.footer-icons a, .footer-icons:hover a, .footer-icons link {
  text-decoration: none;
  color: #FFF;
}

// .footer-icons span::before {
//   content: "\00a0";
// }
//
.footer-icon-container:hover, .footer-icons:hover {
  transform: scale(1.1);
  transition-duration: 120ms;
}


.flow-bottom {
  // min-height: 25vh;
}

.main {
  // background-color: #333;
  padding: 0;
  margin: 0;
}

.fix-responsive-footer {
  padding-left: 16px;
}

@media screen and (max-width: 568px) {
  .xs-padding-0 {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
    }
  .info-top {
    font-size: 0.8em;
  }
  .pic-icons > span > .pic-icon, .pic-icons > span > .pic-icon-hover {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 2px;
  }
  .pic-icon-hover { border-width: 1px;}
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 992px) {

  #contact-page {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  #bio-1 {
    border-right: solid #000 1px;
  }
}
