$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bootstrap_overrides.scss";
@import "image-vingette.scss";

@import url(https://fonts.googleapis.com/css?family=Raleway);

.conditions-content-box {
  top: 50%;
  left: 50%;
  z-index: 9999;
  border-radius: 1%;
  background-color: #333;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.conditions-list {
  text-align: center;
}

ul {
    list-style-position: inside;
    padding-left:0;
}

.list-inline {
  padding-left: 20px;
}

.info-top{
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 100;
  background-color: #454545;
  color: #FFF;
  position: absolute;
  min-width: 100%;
  top: 0%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 20px;
  span {
    padding: 20px;
  }
}

@media screen and (max-width: 568px) {
  .glyphicon {
    display: none;
  }
  .info-top {
    font-size: 0.8em;
  }
}

.main{
  top: 60px;
  position: relative;
}

.email, .phone {
  a, a:hover {
    text-decoration: none;
  }
}

#logo {
  max-height: 76px;
  min-height: 76px;
  position: absolute;
  top: -12px;
  left: -1px;
  z-index: 9999;
  vertical-align: middle;
  @media screen and (min-width: 768px) {
    top: -16px;
  }
  @media screen and (max-width: 320px) {
    max-height: 68px;
    min-height: 68px;
    top: -7px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: justify;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.list-paragraph {
  @extend p;
  // margin: 6px 0 0 20px;
  // ul  li {
  //   margin-top: 0;
  //   margin-bottom: 0;
  // }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.navbar-brand > img {
  object-fit: contain;
  max-height: 800%;
  height: 800%;
  margin-top: -65px;
  margin-left: -100px;
}

.slider-padding {
  //padding-top: 16px;
  padding-bottom: 50px;
}

.about, .hands {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  background-color: #eee;
  font-size: 1.425em;
  font-weight: 200;
  border-radius: 0.5%;
}

.about-sapce {
  @extend about;
}
// .about-sapce::after {
//   content: "<br><br>"
// }

.mug-container{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  img { text-align: center; }
}

.img-center {
  margin: 0 auto;
}

.mug {
  border: solid 5px #AAA;
  border-radius: 1%;
  max-width: 600px;
}

.bio {
  margin: 40px 40px 40px 40px;
  padding-bottom: 40px;
  text-align: justify;
}

.page-section {
  margin-top: -54px;
}
