---
layout: conditions-layout.hbs
---

<div class="col-sm-7 hidden-xs">
  <figure class="vignette overlay">
    <img src="../images/foot.jpg" />
  </figure>
</div>

<div class="col-xs-4 visible-xs">
  <img class="pull-left pic-icon pic-icon-nopad img-circle" src="../images/foot.jpg" />
</div>

<div class="col-sm-5 col-xs-8 conditions-list">
  <h3>Foot/Ankle</h3>
  <ul>
    <li>Plantar Fasciitis</li>
    <li>Ankle Sprains</li>
    <li>Anterior & Posterior Shin Splints</li>
    <li>Posterior Tibialis Insufficiency</li>
    <li>Tendonitis</li>
    <li>Strains/Sprains</li>
    <li>Running Injuries</li>
    <li>Heel Spurs</li>
    <li>Stress Fractures</li>
    <li>Calf Strain</li>
    <li>Hallux Rigidus</li>
    <li>Neuromas</li>
    <li>Tarsal Tunnel Syndrome</li>
  </ul>
</div>
