---
layout: conditions-layout.hbs
---

<div class="col-sm-7 hidden-xs">
  <figure class="vignette overlay">
    <img src="../images/hippain.jpg" />
  </figure>
</div>

<div class="col-xs-5 visible-xs">
  <img class="pic-icon pic-icon-nopad img-circle" src="../images/hippain.jpg" />
</div>

<div class="col-sm-5 col-xs-7 conditions-list">
  <h3>Hip</h3>
  <ul>
    <li>Muscle Strains</li>
    <li>Tendonitis </li>
    <li>Running Injuries</li>
    <li>Trochanteric Bursitis</li>
    <li>Hip Osteoarthritis</li>
    <li>Labral Tears</li>
    <li>Hip Replacement</li>
    <li>Piriformis Syndrome</li>
    <li>Hip Impingement</li>
    <li>Hip Fractures</li>
    <li>Avascular Necrosis</li>
  </ul>
</div>
