---
layout: default.hbs
---
{{> info-header}}
<div class="container">
  <div class="row">
    <div class="top-logo">
      {{> logo }}
    </div>
  </div>
</div>
<div class="main">
  {{> navbar}}
  <div class="slider">
    {{> slider}}
  </div>
  <div class="container">
    <div class="row">
      {{> home }}
      {{> about}}
      {{> conditions}}
      {{> contact}}
      {{> hands}}
      {{> insurance}}
      {{> first}}
    </div>
  </div>
  <footer class="scut-sticky-footer">
      {{> footer}}
  </footer>
</div>
