{{> info-header}}

<div class="main">
  <div class="container">
    <div class="row">
      {{> navbar}}
    </div>
  </div>


  <div class="row slider-padding">
    <div class="slider">
      {{> slider}}
    </div>
  </div>

  <div class="container">
    <div class="row">

      {{> home }}

      {{> about}}

      {{> contact}}

    </div>


    <div class="row">
      {{> footer}}
    </div>

  </div>
</div>
