---
layout: default.hbs
---
{{> info-header}}
<div class="main wrapper">
  {{> navbar}}
  <div class="slider">
    {{> slider}}
  </div>

  <!-- <div class="row slider-padding">

  </div> -->

  <div class="container">
    <div class="row">

      {{> home }}

      {{> about}}

      {{> conditions}}

      {{> contact}}

      {{> hands}}

      {{> insurance}}

      {{> first}}


    </div>
  </div>
  <footer class="scut-sticky-footer">
      {{> footer}}
  </footer>
</div>
