{{> info-header}}
<div class="main">
  {{> navbar}}
  <div class="slider">
    {{> slider}}
  </div>

  <!-- <div class="row slider-padding">

  </div> -->

  <div class="container">
    <div class="row">

      {{> home }}

      {{> about}}

      {{> contact}}

    </div>


    <div class="row">
      {{> footer}}
    </div>

  </div>
</div>
