<div class="container">

  <div class="row">
    {{> navbar}}
  </div>


  <div class="row">

    {{> home }}

    {{> about}}

    {{> contact}}

  </div>


  <div class="row">
    {{> footer}}
  </div>

</div>
