---
layout: conditions-layout.hbs
---

<div class="col-sm-7 hidden-xs">
  <figure class="vignette overlay">
    <img src="../images/kneepain.jpg" />
  </figure>
</div>

<div class="col-xs-4 visible-xs">
  <img class="pull-left pic-icon pic-icon-nopad img-circle" src="../images/kneepain.jpg" />
</div>

<div class="col-sm-5 col-xs-8 conditions-list">
  <h3>Knee</h3>
  <ul>
    <li>Patellofemoral Pain</li>
    <li>Iliotibial Band Syndrome</li>
    <li>Chondromalacia</li>
    <li>Running Injuries</li>
    <li>ACL Reconstruction</li>
    <li>Meniscal Tears</li>
    <li>Ligament Injuries</li>
    <li>Muscle Strains</li>
    <li>Tendonitis </li>
    <li>Knee Osteoarthritis</li>
    <li>Knee Replacement</li>
    <li>Osteochondritis Dissecans</li>
    <li>Osgood-Schlatter Disease</li>
    <li>Baker's Cyst</li>
  </ul>
</div>
