---
layout: conditions-layout.hbs
---

<div class="col-sm-7 hidden-xs">
  <figure class="vignette overlay">
    <img src="../images/neckpain.jpg" />
  </figure>
</div>

<div class="col-xs-4 visible-xs">
  <img class="pull-left pic-icon pic-icon-nopad img-circle" src="../images/neckpain.jpg" />
</div>

<div class="col-sm-5 col-xs-8 conditions-list">
  <h3>Neck / Head</h3>
  <ul>
    <li>Neck Pain</li>
    <li>Herniated Discs</li>
    <li>Stenosis</li>
    <li>Muscle stiffness</li>
    <li>Strains/Sprains</li>
    <li>Cervicogenic headache</li>
    <li>Temperomandibular Joint Pain</li>
    <li>Postural Dysfunction</li>
    <li>Vestibular Dysfunction</li>
    <li>Post-Surgical</li>
    <li>Cervical Fusion</li>
  </ul>
</div>
