---
layout: conditions-layout.hbs
---
<h3>Shoulder</h3>
<ul>
  <li>Shoulder Pain</li>
  <li>Rotator Cuff Strains/Tears</li>
  <li>Labral Tears</li>
  <li>Post-Op</li>
  <li>Adhesive Capsulitis (Frozen Shoulder)</li>
  <li>Tendonitis/Tendonosis</li>
  <li>Impingement</li>
  <li>Dislocation/Instability</li>
  <li>Fractures (Humerus, Scapula, Clavicle)</li>
  <li>Acromioclavicular Joint Separation</li>
</ul>
