---
layout: conditions-layout.hbs
---

<div class="col-sm-7 hidden-xs">
  <figure class="vignette overlay">
    <img src="../images/shoulderpain.jpg" />
  </figure>
</div>

<div class="col-xs-4 visible-xs">
  <img class="pull-left pic-icon pic-icon-nopad img-circle" src="../images/shoulderpain.jpg" />
</div>

<div class="col-sm-5 col-xs-8 conditions-list">
  <h3>Shoulder</h3>
  <ul>
    <li>Shoulder Pain</li>
    <li>Rotator Cuff Strains/Tears</li>
    <li>Labral Tears</li>
    <li>Post-Surgical</li>
    <li>Adhesive Capsulitis (Frozen Shoulder)</li>
    <li>Tendonitis/Tendonosis</li>
    <li>Impingement</li>
    <li>Dislocation/Instability</li>
    <li>Fractures (humeral, scapular, clavicular)</li>
    <li>Acromioclavicular(AC) Joint Separation</li>
  </ul>
</div>
