<div class="page-section hidden" id="about-page">

  <ol class="breadcrumb">
    <li class="active"><a href="#" id="mission">Mission Statement</a></li>
    <li><a href="#" id="philosophy">Clinical Philosophy</a></li>
    <li><a href="#" id="therapists">Our Therapists</a></li>
    <li><a href="#" id="space">Our Space</a></li>
    <li><a href="#" id="testimonials">Testimonials</a></li>
  </ol>

  <div class="jumbotron about" id="about-mission">
    <p><strong>Our mission statement:</strong> To provide exceptional, individualized, and comprehensive physical therapy care, achieving our patient’s goals and fully restoring them to their ideal physical condition.</p>
  </div>

  <div class="jumbotron about hidden" id="about-philosophy">
    <p><strong>Our clinical philosophy:</strong> We believe it is not enough to just go through a cookie cutter protocol approach in an attempt to give our patient’s temporarily pain relief.  Our goal is to identify and treat the cause of the problem so that the issue never comes back.  This requires much more insight and clinical skill than merely sticking a patient on ice or heat and having them do a rote gym exercise.  We look much closer to understand what specific muscle imbalances and biomechanical faults are at play.  This requires focus and time, and our one-on-one 45-minute treatment sessions allow us to do this.  In a factory, assembly line therapy practice, where a therapist is juggling two or three patients at once, this is not possible.</p>
  </div>

</div>
