<div class="page-section hidden" id="conditions-page">
  <div class="row">

    <div class="col-xs-12" id="conditions-loader-list">
      <ul class="nav nav-tabs conditions-list list-inline">
        <li><a class="conditions-loader" href ="#loader" id="load_back">Back</a></li>
        <li><a class="conditions-loader" href ="#loader" id="load_neck">Neck/Head</a></li>
        <li><a class="conditions-loader" href ="#loader" id="load_shoulder">Shoulder</a></li>
        <li><a class="conditions-loader" href ="#loader" id="load_elbow">Elbow/Wrist/Hand</a></li>
        <li><a class="conditions-loader" href ="#loader" id="load_hip">Hip</a></li>
        <li><a class="conditions-loader" href ="#loader" id="load_knee">Knee</a></li>
        <li><a class="conditions-loader" href ="#loader" id="load_foot">Foot</a></li>
      </ul>
    </div>

  </div>
  <div class="jumbotron conditions-head">
    <h3>Conditions Treated</h3>
    <p>
      “Artus Physical Therapy specializes in treating a wide variety of musculoskeletal conditions.  From chronic low back pain to sport related injuries and post-operative rehabilitation.  Our full body approach ensures that the source of the issue is identified and treated properly, whether you have low back pain caused by tightness in your hips or shoulder issues as a result of an upper spine issue.
      All too often, patients only receive treatment at the source of their pain, ignoring the actually biomechanical causes of the injury.  We understand the intricate relationships in the musculoskeletal system and are experts at evaluating the whole body to determine the actual biomechanical causes of the injury. “
    </p>
  </div>
  <div class="row">
    <div class="conditions-content-box" id ="conditions-content">
    </div>
  </div>


</div>
