<div class="page-section hidden" id="conditions-page">

  <ul class="nav nav-tabs conditions-list list-inline"  id="conditions-loader-list">
    <li><a class="conditions-loader" href ="#loader" data-hover-target="backpain-pic" id="load_back">Back</a></li>
    <li><a class="conditions-loader" href ="#loader" data-hover-target="neckpain-pic" id="load_neck">Neck/Head</a></li>
    <li><a class="conditions-loader" href ="#loader" data-hover-target="sholderpain-pic" id="load_shoulder">Shoulder</a></li>
    <li><a class="conditions-loader" href ="#loader" data-hover-target="elbow-pic" id="load_elbow">Elbow/Wrist/Hand</a></li>
    <li><a class="conditions-loader" href ="#loader" data-hover-target="hippain-pic" id="load_hip">Hip</a></li>
    <li><a class="conditions-loader" href ="#loader" data-hover-target="kneepain-pic" id="load_knee">Knee</a></li>
    <li><a class="conditions-loader" href ="#loader" data-hover-target="foot-pic" id="load_foot">Foot</a></li>
  </ul>

  <div class="jumbotron conditions-head">

    <div class="pic-icons">
      <span><img data-hover-target="load_back" id="backpain-pic" class="pic-icon img-circle" src="images/backpain.jpg"/></span>
      <span><img data-hover-target="load_neck" id="neckpain-pic" class="pic-icon img-circle" src="images/neckpain.jpg"/></span>
      <span><img data-hover-target="load_shoulder" id="sholderpain-pic" class="pic-icon img-circle" src="images/shoulderpain.jpg"/></span>
      <span><img data-hover-target="load_elbow" id="elbow-pic" class="pic-icon img-circle" src="images/elbow.jpg"/></span>
      <span><img data-hover-target="load_hip" id="hippain-pic" class="pic-icon img-circle" src="images/hippain.jpg"/></span>
      <span><img data-hover-target="load_knee" id="kneepain-pic" class="pic-icon img-circle" src="images/kneepain.jpg"/></span>
      <span><img data-hover-target="load_foot" id="foot-pic" class="pic-icon img-circle" src="images/foot.jpg"/></span>
    </div>
    <h3>Conditions Treated</h3>
    <p>
      Artus Physical Therapy specializes in treating a wide variety of
musculoskeletal conditions, from chronic low back pain to sports-related
injuries and post-operative rehabilitation.  Our full body
approach ensures that the source of the issue is identified and treated
properly, whether you have low back pain caused by tightness in your
hips or shoulder issues as a result of an upper spine issue.  All too
often, patients only receive treatment at the location of their pain,
ignoring the underlying causes of the injury.  We understand the
intricate relationships in the musculoskeletal system and are experts
in evaluating the whole body to determine the biomechanical source
of injury.
    </p>
  </div>
  <div class="row">
    <div class="conditions-content-box" id ="conditions-content">
    </div>
  </div>


</div>
