<div class="jumbotron page-section hidden" id="contact-page">
  <div class="hidden">
    <h2>Contact Us!</h2>
    <div class="phone">
      <a href="tel:6465592656">
        <p>
          <i class="glyphicon glyphicon-earphone"></i> 646-559-2656
        </p>
      </a>
    </div>
    <div class="email">
      <a href="mailto:info@artuspt.com"><p>
        <i class="glyphicon glyphicon-envelope"></i> Email Us
      </p>
      </a>
    </div>
    <h3>Hours of Operation</h3>
    <p>
      Monday - Friday, 7am - 8pm
    </p>
  </div>
  <h3>Directions</h3>
  <p>
    We convieniently located on the Upper West Side and easily accessable by car, taxi, bus, or subway.
  </p>
  <div class="map">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJuXk4uItYwokRX3KFbt2IyOs&key=AIzaSyAz_8nt4oXqvCMz2XYwvHze46re8yC9MRs" allowfullscreen></iframe>
  </div>
</div>
