<div class="jumbotron page-section hidden clearfix" id="first-page">
  <div class="first-page-background"></div>
  <div class="col-xs-12">
    <h3>What To Expect For Your Initial Visit Page:</h3>
  </div>
  <div class="col-md-7">
    <p>Please arrive 10-15 minutes early for your first visit to fill out paperwork and change into appropriate clothing. Remember to bring your insurance card and your prescription for physical therapy.</p>
    <p>During your first visit, your PT will comprehensively evaluate your injury or condition. Please be sure to wear comfortable, nonrestrictive clothing since your initial evaluation will typically involve some basic exercises. Sneakers or similar footwear is suggested.</p>
    <p>Once evaluated, you and your PT will discuss a Plan of Care that will specify the interventions to be used, the anticipated goals and expected outcomes, predicted level of optimal improvement, and the proposed duration and frequency of the interventions that are required to reach your goals and outcomes.</p>
  </div>
  <div class="col-md-5">
    <img class="img-responsive" src="images/intake.jpg" alt="intake" />
  </div>
</div>
