<div class="jumbotron page-section hidden clearfix" id="first-page">
  <div class="first-page-background"></div>
  <div class="col-xs-12">
    <h3>What To Expect For Your Initial Visit:</h3>
  </div>
  <div class="col-md-7">
    <p>
Please arrive 15 minutes prior to your appointment time to fill out the necessary
paperwork.  Remember to bring your insurance card and prescription for physical
therapy (if you have one).  Please be sure to wear comfortable, nonrestrictive
clothing since your initial evaluation will typically involve exercises – shorts for
knee injuries, sports bra for women with shoulder injuries.  Sneakers or similar
footwear is also suggested.
    </p>
    <p>
During your first visit, your physical therapist will evaluate your injury and discuss 
an appropriate plan of treatment.  This will include the interventions to be used,
goals and expected outcomes, and the duration and frequency of the treatment
required to reach your goals and outcomes.
    </p>

  </div>
  <div class="col-md-5">
    <img class="img-responsive" src="images/intake.jpg" alt="intake" />
  </div>
</div>
