<div class="footer-body xs-padding-0">
  <div class="footer-children">
    <div class="container">
      <div class="row">

        <div class="col-md-3 col-sm-6">
          <h4>Our Address</h4>

          <div class="address plain-link">
            117 W 72nd Street 2nd Fl. <br/>
            New York, NY 11023 <br/>
            <div class="plain-link">
              <a href="#location" id="map-directions">Map & Directions</a>
            </div>
          </div>
        </div>

        <div class="col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0 ">
          <div class="visible-xs top-pad-20"/></div>
          <h4 class="">Follow us on Social Media</h4>

          <div class="footer-icon-container">
            <a href="https://facebook.com/artuspt" alt="Facebook" target="blank">
              <span class="footer-icons">
                <i class="fa fa-facebook"></i>
              </span>
            </a>
          </div>

          <div class="footer-icon-container">
            <a href="https://youtube.com/artuspt" alt="Youtube" target="blank">
              <span class="footer-icons">
                <i class="fa fa-youtube"></i>
              </span>
            </a>
          </div>

          <div class="footer-icon-container">
            <a href="https://plus.google.com/artuspt" alt="Google+" target="blank">
              <span class="footer-icons">
                <i class="fa fa-google-plus"></i>
              </span>
            </a>
          </div>

          <div class="flow-bottom" visibility="hidden">
            <p visibility="hidden">
              &nbsp;
            </p>
          </div>

        </div>

        <div class="plain-link fix-responsive-footer">

          <p class="visible-xs"><br/></p>
          <h4>Contact Us</h4>

          <div class="">
            <a href="tel:646.559.2656"><i class="glyphicon glyphicon-earphone"></i> Call Us 646-559-2656</a>
          </div>
          <div class="">
            <a href="mailto:info@artuspt.com"><i class="glyphicon glyphicon-envelope"></i> Email Us</a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
