<div class="footer-body">
  <div class="footer-children">
    <span class="glyphicon glyphicon-heart"></span><span>Social Stuff Here</span>
    <div class="flow-bottom">
      <p>
        teting
      </p>
    </div>
  </div>
</div>
