<div class="page-section hidden" id="hands-page" data-page-id="hands">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a role="tab" data-toggle="tab" class="active" href="#hands-general">General Info</a></li>
    <li role="presentation"><a role="tab" data-toggle="tab" href="#hands-cht">CHT</a></li>
    <li role="presentation"><a role="tab" data-toggle="tab" href="#hands-conditions">Hand Conditions</a></li>
    <li role="presentation"><a role="tab" data-toggle="tab" href="#hands-techniques">Techniques</a></li>
  </ul>

<div class="tab-content">
  <div class="tab-pane active jumbotron hands clearfix" role="tabpanel" id="hands-general">
    <div class="col-xs-12">
      <h3>Hand Therapy</h3>
    </div>
   <div class="col-md-7">
      <p>
        Artus Physical Therapy offers comprehensive and individualized hand therapy by a Certified Hand Therapist *(CHT). The goal of the Hand Therapy Department is to provide you with caring and effective treatment. To fully benefit from therapy, we would like you to become familiar with our services, to know what you can expect from us and what we expect from you.
      </p>
      <p>
        Our goal is to empower you with knowledge. By fully understanding your condition, you will be better able to participate in your own recovery. Feel free to ask questions about your diagnosis.
      </p>
      <p>
        We strive to create a relaxed and supportive environment. Please let us know how we can make you more comfortable.
      </p>
    </div>
  <div class="col-md-5">
    <img class="img-responsive" src="images/handy1.jpg" alt="hands" />
  </div>
  </div>

  <!-- <div class="tab-pane jumbotron hands" role="tabpanel" id="hands-philosopy">
    <h3>Philosophy of Care</h3>

  </div> -->

  <div class="jumbotron hands tab-pane clearfix" role="tabpanel" id="hands-cht">
    <div class="col-xs-12">
      <h3>CHT <em>&nbsp<h4 style="display: inline-block"><span>What is a Certified Hand Therapist?</span><h4></em></h3>
    </div>
    <div class="col-md-7">
      <p>
        Is an Occupational or Physical Therapist who specializes in the rehabilitation of hand, wrist, elbow, and shoulder conditions and injuries.
      </p>
      <p>
        Must have a minimum of 5 years of experience and 4,000 hours of time practicing and being mentored in the intricacies of the upper extremity.
      </p>
      <p>
        Must pass a rigorous examination of advanced clinical skills and theory in upper extremity rehabilitation.
      </p>
      <p>
        Works with patients to hasten their return to a productive lifestyle.
      </p>
    </div>
    <div class="col-md-5">
      <img class="img-responsive img-center" src="images/cht.png" alt="cbt" />
    </div>
  </div>

  <div class="jumbotron hands tab-pane clearfix" role="tabpanel" id="hands-conditions">
    <div class="col-xs-12">
      <h3>Conditions
        <em>&nbsp<h4 style="display: inline-block"><span>What conditions benefit from Hand Therapy?</span><h4></em>
      </h3>
    </div>
    <div class="col-md-6">
      <ul class="list-paragraph">
        <li>Fractures, dislocations, and sprains</li>
        <li>Tendon and nerve injuries</li>
        <li>Soft tissue injuries</li>
        <li>Cumulative trauma disorders</li>
        <li>Rheumatoid arthritis and osteoarthritis</li>
        <li>Carpal tunnel syndrome</li>
        <li>Wounds and infections</li>
        <li>Amputations, burns, and frostbite</li>
        <li>Sports injuries</li>
        <li>Dupuytren’s contracture</li>
        <li>Tendonitis such as tennis elbow</li>
      </ul>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="images/hand-big.jpg"/>
    </div>

  </div>

  <div class="jumbotron hands tab-pane" role="tabpanel" id="hands-techniques">
      <p>
        Some of the many evaluation and treatment techniques we offer, including customized splinting:
      </p>
  <div class="col-md-5">
    <h3>Evaluation Techniques
    <ul class="list-paragraph">
      <li>Range of Motion</li>
      <li>Grip and Pinch Strength</li>
      <li>Sensation</li>
      <li>Pain and Swelling</li>
      <li>Wound and Scar Status</li>
      <li>Functional Dexterity</li>
    </ul>
    </h3>
  </div>
  <div class="col-md-7">
    <h3>Treatment Techniques
    <ul class="list-paragraph">
      <li>Deep Tissue Massage</li>
      <li>Range of Motion Exercises</li>
      <li>Strengthening Exercises</li>
      <li>Modalities (electrical stimulation, ultrasound, heat, & ice)</li>
      <li>Wound and Pin Care</li>
      <li>Pain Management</li>
      <li>Scar and Edema Management</li>
      <li>Ergonomic Recommendations</li>
      <li>Joint Protection Techniques</li>
    </ul>
  </div>
    </h3>
    <h3>Customized Splinting</h3>


  </div>

</div>



</div>
