<div class="">
  <br><br>
</div>
<div class="jumbotron page-section hidden clearfix" id="hands-page">
  <div class="hands-page-background"></div>
  <div class="col-md-9">
    <h3>Hand Therapy</h3>
    <p>
    Artus Physical Therapy offers comprehensive and individualized hand therapy by a Certified Hand Therapist (CHT).
    </p>
    <p>
      A CHT is a Physical Therapist who specializes in the rehabilitation of the hand, wrist, elbow, and
shoulder.  CHT’s have received rigorous training in the examination and treatment of the upper
extremity.  They require a minimum of 5 years of training and 4000 hours of mentorship.
    </p>
  </div>
  <div class="col-md-3">
    <img class="img-responsive img-center" src="images/cht.png" alt="cbt" />
  </div>

  <div class="col-md-6">
    <h3 class="text-center">Some of the conditions a CHT treats:</h3>
    <ul class="ul-centered">
      <li>Fractures, dislocations, and sprains </li>
      <li>Tendon and nerve injuries</li>
      <li>Soft tissue injuries</li>
      <li>Cumulative trauma disorders </li>
      <li>Rheumatoid arthritis and osteoarthritis </li>
      <li>Carpal tunnel syndrome </li>
      <li>Wounds and infections</li>
      <li>Amputations, burns, and frostbite</li>
      <li>Sports injuries </li>
      <li>Dupuytren’s contracture</li>
      <li>Tendonitis such as tennis elbow</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 class="text-center">Treatment techniques we offer:</h3>
    <ul class="ul-centered">
      <li>Deep Tissue Massage</li>
      <li>Range of Motion Exercises </li>
      <li>Strengthening Exercises </li>
      <li>Electrical stimulation</li>
      <li>Ultrasound</li>
      <li>Cryotherapy</li>
      <li>Wound and Pin Care </li>
      <li>Pain Management</li>
      <li>Scar and Edema Management    </li>
      <li>Ergonomic Recommendations</li>
      <li>Joint Protection Techniques</li>
      <li>Customized Splinting</li>
    </ul>
  </div>
  <div class="col-md-12">
    <img id="asht-logo" class="img-responsive" src="images/asht-logo.jpg" alt="asht-logo" />
  </div>
</div>
