<div class="page-section hidden" id="home-page">
  <!-- <div class="slide-overlay">
    Artus Physical Therapy
  </div> -->
  <div class="headline">
    Artus Physical Therapy specializes in orthopedic rehabilitation.  We treat a

    wide variety of musculoskeletal conditions.   Whether you are suffering with low

    back pain from sitting at a desk all day or need to get back to basketball after

    an ACL repair, we can help.  We have a combined 25 years of experience and

    a state of the art facility to get you back into the best physical condition of

    your life.  We spend the necessary time with each patient to identify the

    cause of the problem and cure it.
  </div>

</div>
