<div class="info-top inline-block center text-center">

  <div class="col-md-6 col-md-offset-3 hidden-sm hidden-xs plain-link">
    <div class="col-xs-4"><i class="glyphicon glyphicon-calendar"></i> Hours: 7am-8pm</div>
    <div class="col-xs-4"><a href="tel:646.559.2656"><i class="glyphicon glyphicon-earphone"></i> 646-559-2656</a></div>
    <div class="col-xs-4"><a href="mailto:chrisrosen@artuspt.com"><i class="glyphicon glyphicon-envelope"></i>Email</a></div>
  </div>

  <div class="span-12 visible-sm visible-xs plain-link">
    <div class="col-xs-4"><i class="glyphicon glyphicon-calendar"></i>Hours: 7am-8pm</div>
    <div class="col-xs-4"><a href="tel:646.559.2656"><i class="glyphicon glyphicon-earphone"></i>646-559-2656</a></div>
    <div class="col-xs-4"><a href="mailto:chrisrosen@artuspt.com"><i class="glyphicon glyphicon-envelope"></i>Email</a></div>
  </div>

</div>
