<div class="info-top inline-block center text-center">

  <div class="col-md-6 col-md-offset-3 hidden-sm hidden-xs">
    <div class="col-xs-4"><i class="glyphicon glyphicon-calendar"></i> Hours: 7am-8pm</div>
    <div class="col-xs-4"><i class="glyphicon glyphicon-earphone"></i> 646-559-2656</div>
    <div class="col-xs-4"><i class="glyphicon glyphicon-envelope"></i> Email</div>
  </div>

  <div class="span-12 visible-sm visible-xs">
    <div class="col-xs-4"><i class="glyphicon glyphicon-calendar"></i>Hours: 7am-8pm</div>
    <div class="col-xs-4"><i class="glyphicon glyphicon-earphone"></i>646-559-2656</div>
    <div class="col-xs-4"><i class="glyphicon glyphicon-envelope"></i>Email</div>
  </div>

</div>
