<div class="jumbotron page-section hidden" id="insurance-page">
  <h3>Insurance</h3>
  <p>• We accept most commercial and private insurance plans.</p>
  <p>• We research your insurance benefits so you are fully informed about all out-of- pocket costs upfront, before you arrive for your first visit..</p>
  <p>• For those without insurance coverage, we offer a self-pay rate of $150.00 per visit with package deals available.</p>
  <p>• We accept payment via cash, check, credit card, Health Savings Account (HSA) Flex Spending, Account (FSA).</p>

  <h3>Prescriptions/Referrals</h3>
  <p>
    Patients are not required to have a prescription/referral prior to obtaining physical therapy services. A physical therapist can be the first healthcare professional a patient sees for his or her injury. They will evaluate, diagnose, and implement an individualized treatment plan during the initial visit. Some insurance policies may require a prescription for reimbursement of services. In those instances the patient will be notified prior to the initial visit.
  </p>
</div>
