<!-- <div class="header">
  <img class="img-responsive" id="logo" src="images/logo-small.png"/>
  <ul class="nav nav-pills pull-right">
    <li class="active"><a class="nav-links" href="#" id="home">Home</a></li>
    <li><a href="#" class="nav-links" id="about">About</a></li>
    <li><a href="#" class="nav-links" id="contact">Contact</a></li>
    <li><a href="#" class="nav-links" id="contact">Contact</a></li>
    <li><a href="#" class="nav-links" id="contact">Contact</a></li>
  </ul>
</div> -->

<!-- <div class="header"> -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand" id="logo" src="images/nogo.png"/>
      <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav nav-pills navbar-right">
        <li class="active"><a class="nav-links" href="#" id="home">Home</a></li>
        <li><a href="#" class="nav-links" id="about">About</a></li>
        <li><a href="#" class="nav-links" id="contact">Contact</a></li>
        <li><a href="#" class="nav-links" id="contact">Contact</a></li>
        <li><a href="#" class="nav-links" id="contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- </div> -->
