<div class="header">
  <img class="img-responsive visible-lg visible-md visible-sm" id="logo" src="images/logo-small.png"/>
  <ul class="nav nav-pills pull-right">
    <li class="active"><a class="nav-links" href="#" id="home">Home</a></li>
    <li><a href="#" class="nav-links" id="about">About</a></li>
    <li><a href="#" class="nav-links" id="contact">Contact</a></li>
  </ul>
</div>
